# Mission to Mars

* pip install splinter

In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup

### For a Windows machine
* executable_path = {'executable_path': 'chromedriver.exe'}
* browser = Browser('chrome', **executable_path, headless=False)

### Running on a Mac

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# Set executable path and start up Chrome browser
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

* Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

LINK:  https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest

In [4]:
# Directs to open to https://mars.nasa.gov/news
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [5]:
# HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
news_element=soup.select_one('ul.item_list li.slide')
titles=news_element.find('div', class_ = 'content_title').get_text()

# Get Title
titles

"NASA's Perseverance Rover Will Peer Beneath Mars' Surface "

In [6]:
# Grab coordinating teaser paragraph
teaser_p = news_element.find('div', class_='article_teaser_body').get_text()
teaser_p

"The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life. "

### JPL Mars Space Images - Featured Image

* Visit the url for JPL Featured Space Image here.


* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.


* Make sure to find the image url to the full size .jpg image.


* Make sure to save a complete url string for this image.

LINK:  https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

In [7]:
# Directs to open to https://mars.nasa.gov/news
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [8]:
# Clicking through to find full-featured url
browser.find_by_id('full_image').click()

In [9]:
# Clicking through to find full-featured url
more_info_element = browser.links.find_by_partial_text('more info').click()

In [10]:
# Clicking through to find full-featured url
html2 = browser.html
main_image_soup = BeautifulSoup(html2, 'html.parser')
main_image_url = main_image_soup.select_one('figure.lede a img').get('src')
#browser.find_by_css('.lede a').click()
main_image_url

'/spaceimages/images/largesize/PIA18245_hires.jpg'

In [11]:
# Find full-featured url
#featured_image = browser.find_by_css('img')['src']
main_url = "https://www.jpl.nasa.gov"
final_main_image = main_url + main_image_url
final_main_image

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18245_hires.jpg'

### Mars Facts

* Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

LINK: https://space-facts.com/mars/

In [12]:
# Dependencies
import pandas as pd

In [13]:
# Pulling data from this url
url = 'https://space-facts.com/mars/'

In [14]:
# Reading the HTML tables into a list of tables 
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [15]:
# Pulling the first table listed and creating column names
df = tables[0]
df.columns = ['Description','Mars']
df

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
# Set index to Description
df.set_index('Description',inplace=True)

In [17]:
# Display the new dataframe
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
# Generate new table to html
# Stripping unwanted new lines
mars_facts = df.to_html()
mars_facts.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### Mars Hemispheres

* Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.


* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

LINK: https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

In [19]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemisphere_url)
html_hemis = browser.html
#parse
soup_hemis = BeautifulSoup(html_hemis, 'html.parser')

In [20]:
urls_hemis =  soup_hemis.find_all('div', class_ = 'item')

hemis_output = []
core_url = "https://astrogeology.usgs.gov"
for mh in urls_hemis:
    
    #Store the title
    title = mh.find('h3').text
    
    #look for the image
    temp_image = mh.find('a', class_ = 'itemLink product-item')['href']
    
    browser.visit(core_url + temp_image)
    
    #convert to html object
    temp_image_html = browser.html
    #parse it
    soup_hemis2 = BeautifulSoup(temp_image_html, 'html.parser')
    
    #scrape it
    full_image = core_url + soup_hemis2.find('img', class_='wide-image')['src']
    
    
    #create a dic and append to list
    hemis_output.append({"title":title, "image_url": full_image})

In [21]:
hemis_output

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [ ]:
browser.quit()

### Install missing modules

* pip install --upgrade pip
* pip install pymongo
* pip install Flask-PyMongo